.header {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 40vh
}

.about {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 60vh;
  margin-bottom: 50px;
}

.Projects {
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: center;
}

.Contact {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  width: 60vh;
  margin-bottom: 50px;
}

.octocat {
  height: 50px;
  width: 50px;
}